<app-sidebar></app-sidebar>
<a href="/customerdashboard">Go back</a>
<div class="grid-container">
    <div class="grid-item">
        <h5>Enquiry id</h5>
        <p>1</p>
    </div>
    <div class="grid-item">
        <h5>Title</h5>
        <p>random</p>
    </div>
    <div class="grid-item">
        <h5>Car make</h5>
        <p>brand</p>
    </div>
    <div class="grid-item">
        <h5>Car model</h5>
        <p>123</p>
    </div>  
    <div class="grid-item">
        <h5>Year of manufacture</h5>
        <p>2000</p>
    </div>
    <div class="grid-item">
        <h5>Product required</h5>
        <p>headlight</p>
    </div>
    <div class="grid-item">
        <h5>Product sample image</h5>
        <img>
    </div>  
    <div class="grid-item">
        <h5>Description</h5>
        <p>text</p>
    </div> 
  </div>