<div style="margin-left:400px;margin-top: 50px;">
    <h2 style="margin-top: 20px;margin-bottom: 20px;">Pending Enquiries</h2>
    <div id="example2">
        <a href="#" style="text-decoration: none;">Title</a>
        <button style="float: right;">Add Quotation</button>
        <button style="float: right;margin-right: 10px;">View Enquiry</button>
    </div>
</div>
<div style="margin-left:400px;margin-top: 100px;">
    <h2 style="margin-top: 20px;margin-bottom: 20px;">Submitted Enquiries</h2>
    <div id="example2">
        <a href="#" style="text-decoration: none;">Title</a>
        <button style="float: right;">Add Quotation</button>
        <button style="float: right;margin-right: 10px;">View Enquiry</button>
    </div>
</div>
